<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BStore">

	<!-- 가게정보 입력하기 // 일단 상호명이랑 주소만 넣어보자 -->
	<insert id="insert" parameterType="BStoreDto">
	insert into B_Store
	(b_id, b_name, b_Store_Address)
	values(#{b_id}, #{b_name}, #{b_address})
	</insert>
  
	<!-- 가게정보 불러오기 // 일단 상호명이랑 주소만 불러보자
	<select id="getData" parameterType="string" resultType="BStoreDto">
		SELECT b_id, b_name, b_Store_Address
		FROM B_Store
		WHERE b_id =#{b_id}
	</select>
	 -->
	<!-- 가게정보 수정하기 // 일단 상호명이랑 주소만 수정해보자
	<update id="update" parameterType="BStoreDto">
		UPDATE B_Store
		SET b_name=#{b_name}, b_Store_Address=#{b_Store_Address}
		WHERE b_id = #{b_id}
	</update>
  -->
  
	<!-- 나현님 부분 -->
	<select id="getList" parameterType="BstoreDto" resultType="BStoreDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM 
				(SELECT * FROM B_STORE) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM b_Store
	</select>
	
	<!-- <select id="getData" parameterType="string" resultType="BStoreDto">
		SELECT b_id, b_name, b_kind, b_intro, b_img_f, service, ex_keyword
		FROM b_Store
		where b_id=#{b_id}
	</select> -->

<!-- b_kind, intro, b_img_f, b_Store_phone, b_Store_date,
		b_open, b_close, b_holiday, notice, service, ex_keyword, storeFile -->

<!-- 
	String b_id, String b_name, String b_Store_Address, String b_kind, String intro, String b_img_f,
			String b_Store_phone, String b_Store_date, String b_open, String b_close, String b_holiday,
			String notice, String service, String ex_keyword, MultipartFile storeFile

 -->
</mapper>