<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BStore">
	<!-- 주연 음식점 상세 정보 페이지 -->
	<!-- 음식점 사진 리스트 가져오기  -->
	<select id="getStoreImgList" parameterType="String" resultType="StoreImgDto">
		SELECT *
		FROM store_img
		WHERE b_id=#{b_id}
	</select>
	
	<!-- 메뉴 이름,이미지,가격 리스트 가져오기 -->
	<select id="getMenuList" parameterType="String" resultType="MenuDto">
		SELECT menu_name,menu_price,menu_image
		FROM menu
		WHERE b_id=#{b_id}	
	</select>
	
	<!-- 리뷰 리스트 최신순 가져오기 -->
	<select id="getReviewList" parameterType="ReviewDto" resultType="ReviewDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM 
				(SELECT * FROM review WHERE b_id=#{b_id}) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
		ORDER BY review_num ASC;
	</select>
	<!-- 리뷰 리스트 인기순 가져오기 -->
	
	
	<!-- 리뷰 개수 세기 -->
	<select id="getReviewCount" parameterType="String" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM review
		WHERE b_id=#{b_id}
	</select>
	
	<!-- 주연&혜림 -->
	<!-- b_id로 가게정보 얻어오기 -->
	<select id="getStore" parameterType="String" resultType="BStoreDto">
		SELECT *
		FROM B_Store
		WHERE b_id=#{b_id}
	</select>
	
	<!-- 혜림 -->
	
	<!-- 가게 등록하기 -->
	<insert id="insert" parameterType="BStoreDto">
		INSERT INTO B_Store
		(b_name, b_Store_Address, b_kind, intro, b_img_f, b_Store_phone,
			b_Store_date, b_open, b_close, b_holiday, notice, service, ex_keyword)
		VALUES(#{b_name},#{b_Store_Address},#{b_kind},#{intro},#{b_img_f},#{b_Store_phone},
			#{b_Store_date},#{b_open},#{b_close},#{b_holiday,jdbcType=VARCHAR},#{notice,jdbcType=VARCHAR},#{service},#{ex_keyword})
	</insert>
	
	<!-- 가게정보 수정하기 -->
	<update id="update" parameterType="BStoreDto">
		UPDATE B_Store
		SET b_name=#{b_name}, b_Store_Address=#{b_Store_Address}, b_kind=#{b_kind},intro=#{intro},b_img_f=#{b_img_f},b_Store_phone=#{b_Store_phone},b_Store_date=#{b_Store_date},
			b_open=#{b_open},b_close=#{b_close},b_holiday=#{b_holiday,jdbcType=VARCHAR},notice=#{notice,jdbcType=VARCHAR},service=#{service},ex_keyword=#{ex_keyword}
		WHERE b_id=#{b_id}
	</update>
  
	<!-- 나현님 부분 -->
	<select id="getList" parameterType="BstoreDto" resultType="BStoreDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM 
				(SELECT * FROM B_Store) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM b_Store
	</select>
	
	<!-- <select id="getData" parameterType="string" resultType="BStoreDto">
		SELECT b_id, b_name, b_kind, b_intro, b_img_f, service, ex_keyword
		FROM b_Store
		where b_id=#{b_id}
	</select> -->

<!-- b_kind, intro, b_img_f, b_Store_phone, b_Store_date,
		b_open, b_close, b_holiday, notice, service, ex_keyword, storeFile -->

<!-- 
	String b_id, String b_name, String b_Store_Address, String b_kind, String intro, String b_img_f,
			String b_Store_phone, String b_Store_date, String b_open, String b_close, String b_holiday,
			String notice, String service, String ex_keyword, MultipartFile storeFile

 -->
</mapper>