<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BStore">
	
	<!-- 일단 아이디랑 이름 주소만 넣어보자 -->
	<insert id="insert" parameterType="BStoreDto">
	insert into b_Store
	(b_id, b_name, b_Store_Address)
	values(b_id, #{b_name}, #{b_address})
	</insert>




<!-- b_kind, intro, b_img_f, b_Store_phone, b_Store_date,
		b_open, b_close, b_holiday, notice, service, ex_keyword, storeFile -->

<!-- 
	String b_id, String b_name, String b_Store_Address, String b_kind, String intro, String b_img_f,
			String b_Store_phone, String b_Store_date, String b_open, String b_close, String b_holiday,
			String notice, String service, String ex_keyword, MultipartFile storeFile

 -->
</mapper>