<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Buser">
	
	<!-- select의 결과가 없으면 0이 된다.-->
	<select id="getData" parameterType="string" resultType="BuserDto">
	select b_id, b_pwd, b_name, b_address, b_email, b_phone, b_profile, b_regdate, grade
	from b_user
	where b_id = #{b_id}	
	</select>
	
	<insert id="insert" parameterType="BuserDto">
	insert into b_user
	(b_id, b_pwd, b_name, b_address, b_email, b_phone, b_regdate, grade)
	values(#{b_id}, #{b_pwd}, #{b_name}, #{b_address},  #{b_email}, #{b_phone}, sysdate, #{grade})
	</insert>

</mapper>