<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Buser">
	
	<!-- select의 결과가 없으면 0이 된다.-->
	<select id="getData" parameterType="string" resultType="BuserDto">
	select b_id, b_pwd, b_name, b_address, b_email, b_email2, b_phone, b_profile, to_char(b_regdate,'YYYY-MM-DD') b_regdate, grade
	from b_user
	where b_id = #{b_id}	
	</select>
	
	<insert id="insert" parameterType="BuserDto">
	insert into b_user
	(b_id, b_pwd, b_name, b_address, b_email, b_email2, b_phone, b_regdate, grade)
	values(#{b_id}, #{b_pwd}, #{b_name}, #{b_address},  #{b_email}, #{b_email2}, #{b_phone}, sysdate, #{grade})
	</insert>

	<select id="isExist" parameterType="java.lang.String" resultType="string">
	Select b_id
	from b_user
	where b_id=#{b_id} 
	</select>
	
	<select id="getId" parameterType="BuserDto" resultType="String">
	Select b_id
	from b_user
	where b_name=#{b_name} and b_phone=#{b_phone} 
	</select>
	
	<select id="getPwd" parameterType="BuserDto" resultType="String">
	Select b_pwd
	from b_user
	where b_id=#{b_id} and b_phone=#{b_phone} 
	</select>
	
	<update id="pwdChange" parameterType="BuserDto">
	Update b_user
	Set b_pwd = #{b_newPwd}
	where b_id=#{b_id}
	</update>
	
		<!--  회원탈퇴 -->
	<delete id="delete" parameterType="string">
		DELETE from b_user
		WHERE b_id=#{b_id}
	</delete>

	<!-- 혜림 -->
	<update id="update" parameterType="BuserDto">
		UPDATE b_user
		SET b_name=#{b_name},b_address=#{b_address,jdbcType=VARCHAR},b_email=#{b_email,jdbcType=VARCHAR},b_email2=#{b_email2,jdbcType=VARCHAR},b_phone=#{b_phone},b_profile=#{b_profile,jdbcType=VARCHAR}
		WHERE b_id = #{b_id }
	</update>
	
	<!-- 포장 내역  리스트 가져오기-->
	<select id="getBtakeoutList" parameterType="TakeoutDto" resultType="TakeoutDto">
		SELECT *
		FROM
		   (SELECT result1.*,ROWNUM AS rnum
		    FROM (SELECT bs.b_id,bs.b_name,t.takeout_name,t.takeout_date, t.takeout_time, t.takeout_price, t.takeout_num
				FROM b_store bs, takeout t
				WHERE bs.b_id = t.b_id AND t.b_id=#{b_id,jdbcType=VARCHAR}) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	
	<select id="getBtakeoutCount" parameterType="TakeoutDto" resultType="int">
		SELECT NVL(MAX(ROWNUM),0)
		FROM takeout
		WHERE b_id=#{b_id,jdbcType=VARCHAR}
	</select>
	
	<!-- 예약 내역 리스트 가져오기 -->
	<select id="getBreservationList" parameterType="ReservationDto" resultType="ReservationDto">
		SELECT *
		FROM
		   (SELECT result1.*,ROWNUM AS rnum
		    FROM (SELECT bs.b_id,bs.b_name,r.reservation_name , r.reservation_date, r.reservation_time, r.reservation_people, r.reservation_num
		      FROM b_store bs, reservation r
		      WHERE bs.b_id = r.b_id AND r.b_id=#{b_id,jdbcType=VARCHAR}) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	
	<select id="getBreservationCount" parameterType="ReservationDto" resultType="int">
		SELECT NVL(MAX(ROWNUM),0)
		FROM reservation
		WHERE b_id=#{b_id,jdbcType=VARCHAR}
	</select>
	
</mapper>