<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">
	<!-- 메뉴 번호 최댓값 가져오기 -->
	<select id="getMenuMaxNum" parameterType="String" resultType="int">
		SELECT NVL(MAX(menu_num),0)
		FROM menu
		WHERE b_id=#{b_id}
	</select>
	
	<!-- 메뉴 등록하기 -->
	<insert id="insert" parameterType="MenuDto">
		INSERT INTO menu
		(menu_seq_num,menu_num,b_id,section_num,section_name,menu_name,menu_image,menu_price)
		VALUES(menu_seq.NEXTVAL,#{menu_num},#{b_id},#{section_num},#{section_name},#{menu_name},#{menu_image,jdbcType=VARCHAR},#{menu_price})
	</insert>
	
	<!-- 메뉴 수정하기 -->
	<update id="update" parameterType="MenuDto">
		UPDATE menu
		SET menu_name=#{menu_name}, menu_image=#{menu_image,jdbcType=VARCHAR}, menu_price=#{menu_price}
		WHERE menu_num=#{menu_num} AND b_id=#{b_id}
	
	</update>
	
	<!-- (형우같이)카테고리 번호 리스트 가져오기(중복X) -->
	<select id="getSectionNumList" parameterType="String" resultType="int">
		SELECT DISTINCT section_num
		FROM menu
		WHERE b_id=#{b_id}
		ORDER BY section_num ASC
	</select>
	
	<!-- 개수는 필요 없을듯~~~~ -->
	<!-- 사업자 번호와 카테고리 번호로 카테고리의 개수 얻어오기 -->
	<select id="getSectionCount" parameterType="String" resultType="int">
		SELECT NVL(COUNT(DISTINCT section_num),0)
		FROM menu
		WHERE b_id=#{b_id}
	</select>
	
	<!-- 사업자 번호로 카테고리 최대 번호 얻어오기 -->
	<select id="getSectionMaxNum" parameterType="String" resultType="int">
		SELECT NVL(MAX(section_num),0)
		FROM menu
		WHERE b_id=#{b_id}
	</select>
	
	<!-- (형우같이)사업자 번호로 메뉴 리스트 얻어오기 -->
	<select id="getList" parameterType="String" resultType="MenuDto">

		SELECT *
		FROM menu
		WHERE b_id=#{b_id}
		ORDER BY menu_num ASC
	</select>
	
	<!-- 카테고리명 변경하기 -->
	<update id="updateSectionName" parameterType="MenuDto" >
		UPDATE menu
		SET section_name=#{section_name}
		WHERE b_id=#{b_id} AND section_num=#{section_num}
	</update>
	
	<!-- 해당 메뉴 삭제하기 -->
	<delete id="delete_menu" parameterType="MenuDto">
		DELETE FROM menu
		WHERE menu_num=#{menu_num} AND b_id=#{b_id}
	</delete>
	
	<!-- 해당 섹션 데이터 있는지 확인하기 -->
	<select id="getIsDataInSection" parameterType="MenuDto" resultType="int">
		SELECT NVL(COUNT(*),0)
		FROM menu
		WHERE section_num=#{section_num} AND b_id=#{b_id}
	</select>
	
	<!-- 해당 섹션 삭제하기 -->
	<delete id="delete_section" parameterType="MenuDto">
		DELETE FROM menu
		WHERE section_num=#{section_num} AND b_id=#{b_id}
	</delete>
	
</mapper>